#custom-pizza {
  margin-left: 34%;
}
#order-content {
margin-left: 8%;
}
#additions {
margin-left: 40%;
}
#price-content {
  margin-left: 40%;
}
.navbar-text pull-left{
margin-left: 35%;
}
#body {
  background-color: beige;
}