#custom-pizza {
  margin-left: 34%;
}
#order-content {
margin-left: 8%;
}
#additions {
margin-left: 40%;
}
#price-content {
  margin-left: 40%;
}
.navbar-text pull-left{
margin-left: 35%;
}
body {
  background-image: url("../i"), url("paper.gif");
  background-color: #12af46;
}
.page-header {
margin-left: 39%;
}
#landing-tagline{
margin-left: 29%;
}
img {
width: 100%;
}
.btn btn-danger{
margin-left: 45%;
}
#page-header{
  margin-right: 49%;
}
.bcc {
  background-image: url(../image/home.jpeg);
}
#btn btn-primary{
margin-left: 50%
}